@appBackground-color            : #27282b;
@app-button-background-color	: rgb(225,121,19);
/* Editor palette */
@editor-navbar-item-hover 		: rgb(8,8,10);
@editor-dark-color              : rgb(28, 28, 30);
@layout-pane-background-color   : #3b3c40;
@layout-resizebar-color         : @editor-dark-color;
@layout-resizebar-hover-color   : rgb(119, 121, 130);
@sidebar-background-color       : rgb(40, 45, 60);
@sidebar-border-color           : rgb(10, 11, 15);
@sidebar-hover-color            : rgb(63, 66, 103);
@sidebar-width                  : 240px;
@editor-small-field             : 20px;
@add-color                      : rgb(7, 150, 34); 
@font-color                     : rgb(255, 255, 255);
/* button styles*/
@anchor-button-hover-background-color : rgb(40, 40, 40);