html, body {
  margin: 0;
  height: 100%;
  position: relative;
  background: #2C2C2C;
}
h1{
  margin: auto;
  color: white;
}

#wrapper {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#middleBox
{
  height: 80px;
    position: relative;
    top:-50%;
      left: -50%;
}
#border {
  border: 3px solid gray;
  height: 20px;
  width: 188px;
  position: relative;
  padding: 4px 3px;
}

#whitespace {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#line {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  -webkit-animation: slide 5s steps(40) infinite;
  -moz-animation: slide 5s steps(40) infinite;
  animation: slide 5s steps(40) infinite;
}

@keyframes slide {
  0% {
    left: -100%;
  }
  
  100% {
    left: 100%;
  }
}

@-moz-keyframes slide {
  0% {
    left: -100%;
  }
  
  100% {
    left: 100%;
  }
}

@-webkit-keyframes slide {
  0% {
    left: -100%;
  }
  
  100% {
    left: 100%;
  }
}