/* Editor palette */
/* button styles*/
/*General colors*/
.userSelectNone {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#FileAssetViewContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
#FileAssetViewContainer #EditorSearchForAssetText {
  overflow: auto;
}
#FileAssetViewContainer #EditorAssetOptionsButtonsWrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /*div 
        {
            position: relative;
            p 
            {
                padding: 2px 10p
                color:white;
                position: absolute;
                left: 0px;
                &:hover
                {
                    background-color: @anchor-button-hover-background-color;
                }  
            }
        }*/
}
#FileAssetViewContainer #EditorAssetOptionsButtonsWrapper div {
  height: 30px;
  position: relative;
  left: 0px;
  top: 0px;
}
#FileAssetViewContainer #EditorAssetOptionsButtonsWrapper div p {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  margin: 0px;
  text-align: center;
}
#FileAssetViewContainer #EditorAssetOptionsButtonsWrapper div p:hover {
  background-color: #282828;
}
#FileAssetViewContainer #EditorAssetOptionsButtonsWrapper div p.remove-asset-option {
  background-color: red !important;
  overflow: hidden;
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;
  -ms-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}
#FileAssetViewContainer #EditorAssetOptionsButtonsWrapper div p.remove-asset-option-hidden {
  height: 0px !important;
}
#FileAssetViewContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#FileAssetViewContainer ul li {
  display: block;
}
#FileAssetViewContainer ul li div {
  position: relative;
}
@-webkit-keyframes scrolling-asset-load-bar {
  0% {
    left: 0px;
  }
  100% {
    left: 200px;
  }
}
@-moz-keyframes scrolling-asset-load-bar {
  0% {
    left: 0px;
  }
  100% {
    left: 200px;
  }
}
@-ms-keyframes scrolling-asset-load-bar {
  0% {
    left: 0px;
  }
  100% {
    left: 200px;
  }
}
@-o-keyframes scrolling-asset-load-bar {
  0% {
    left: 0px;
  }
  100% {
    left: 200px;
  }
}
@keyframes scrolling-asset-load-bar {
  0% {
    left: 0px;
  }
  100% {
    left: 200px;
  }
}
#FileAssetViewContainer ul li div i {
  background-color: #303030;
  padding-right: 8px;
  padding-left: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}
#FileAssetViewContainer ul li div .file-asset-item-name {
  position: absolute;
  left: 32px;
  right: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#FileAssetViewContainer ul li div .file-asset-load-procentage {
  position: absolute;
  background-color: #079622;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 20px;
  padding-left: 4px;
}
#FileAssetViewContainer ul li div .file-asset-load-bar {
  position: absolute;
  left: 28px;
  right: 0px;
  bottom: 0px;
  height: 2px;
  background: #079622;
  animation: scrolling-asset-load-bar 5s infinite;
}
#FileAssetViewContainer ul li div .file-asset-extra-options {
  display: inline;
}
#FileAssetViewContainer ul li:hover {
  background-color: #303030;
}
