@import "css/darkColors.less";

.app-menu-button-wrapper
{
	float: left;
	width: 29px;
	height: 29px;
	background-color: @app-button-background-color;
	padding: 1px 1px;
	cursor: pointer;
}
.app-menu-button-line
{
	display: block;
	width: 18px;
	height: 3px;
	margin: 4px;
	background-color: white;
}