<div class="component-modal-info-heading">
	<img class="component-modal-info-icon"></img>
	<div class="component-modal-info-title">
		<span>
		<%= get('name') %>
		</span>
	</div>
</div>
<div class="component-modal-info-description">
	<span>
		<%= get('description') %>
	</span>
</div>
<div class="component-modal-info-params">
  <% _.each(get('parameters'), function(param){ %>
	<div class="component-modal-info-param-field">
		<span class="component-modal-info-param-name">
		<%= param.name %>
		</span>
		<span class="component-modal-info-param-type">
		<%= param.type %>
		</span>
		<span class="component-modal-info-param-desc">
		<%= param.description %>
		</span>
	</div>
  <% }); %>
</div>