@import "css/darkColors.less";
@import "css/mixins.less";

#FileAssetViewContainer
{
    position: relative;
    height: 100%;
    width: 100%;
    
    #EditorSearchForAssetText
    {
        overflow: auto;
    }

    #EditorAssetOptionsButtonsWrapper
    {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        div
        {
            height: 30px;
            position: relative;
            left: 0px;
            top: 0px;
            p
            {
                position: absolute;
                height: 100%;
                width: 100%;
                display: block;
                margin: 0px;
                text-align: center;
                &:hover
                {
                    background-color: @anchor-button-hover-background-color;
                } 
            }
            p.remove-asset-option
            {
                background-color    : red !important;
                overflow: hidden;
                -webkit-transition  :  height 0.2s ease-in-out;
                -moz-transition     :  height 0.2s ease-in-out;
                -ms-transition      :  height 0.2s ease-in-out;
                -o-transition       :  height 0.2s ease-in-out;
                transition          :  height 0.2s ease-in-out;
            }
            p.remove-asset-option-hidden
            {
                height: 0px !important;
            }
        }
        /*div 
        {
            position: relative;
            p 
            {
                padding: 2px 10px;
                color:white;
                position: absolute;
                left: 0px;
                &:hover
                {
                    background-color: @anchor-button-hover-background-color;
                }  
            }
        }*/
    }

    ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
        li 
        {
            div
            {
                @loadProcentageWidth : 32px;

                .keyframes(scrolling-asset-load-bar, {
                    0%
                    {
                        left: calc(~"0% - 40px");
                    }
                    100%
                    {
                        left: calc(100% ~"-" @loadProcentageWidth);
                    }
                });

                position: relative;
                i
                {
                    background-color: @editor-medium-dark-color;
                    padding-right: 8px;
                    padding-left: 7px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    text-align: center;
                }

                .file-asset-item-name
                {
                    position: absolute;
                    left: 32px;
                    padding-top: 2px;
                    right: @loadProcentageWidth + 20px;
                    overflow: hidden;
                    white-space: nowrap; 
                    text-overflow:ellipsis
                }
                .file-asset-load-procentage
                {
                    position: absolute;
                    background-color: @add-color;
                    top: 0px;
                    right: 0px;
                    width: @loadProcentageWidth;
                    height: 20px;
                    padding-left: 4px;
                    padding-top: 2px;
                }
                .file-asset-load-bar
                {
                    position: absolute;
                    left: 28px;
                    width: 40px;
                    bottom: 0px;
                    height: 2px;
                    background: @add-color;
                    -webkit-transform: translate3d(0, 0, 0);
                    -webkit-backface-visibility: hidden;
                    -webkit-perspective: 1000;
                    .animation(scrolling-asset-load-bar 5s infinite);
                }
                .fa-times
                {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    padding: 4px;
                    top: 0px;
                    opacity: 0;
                    cursor: pointer;
                    right: @loadProcentageWidth;
                    .transition(opacity .15s ease-in-out);
                    &:hover
                    {
                        opacity: 1;
                        background-color: @remove-color;
                    }
                }
                .file-asset-extra-options
                {
                    display: inline;
                }

            }
            display: block;
            &:hover
            {
                background-color: @editor-medium-dark-color;
            }
        }
    }
}