<div>
    <div class="editor-label-small">Filter By: </div>     
    <form id="EditorSearchForAssetText">
        <input type="text" class="form-control col-lg-8" placeholder="Find Asset">
    </form>
    <div class="editor-list">
        <ul>
            <% _.each(files, function(file) { %>
                <li class="editor-list-entry"> <%= file.get("fileName") %></li>
            <% }); %>
        </ul>
    </div>
</div>
<div id="EditorAssetOptionsButtonsWrapper">
    <div>
        <p>Add</p>
        <p>Remove</p>
    </div>
</div>
 