#editorScreenViewDiv
{
    width: 100%;
    height: calc(~"100% - 20px");
}
.editor-document-controls
{
    height: 20px;
    background-color: @editor-dark-color;
    div.editor-control-right-wrapper
    {
        float: right;
    }
    div.editor-control-left-wrapper
    {
        float: left;
        padding: 3px;
        span {
            margin-left: 10px;
        }
    }
    div.editor-control-button-wrapper
    {
        display: inline;
    }
}