@import "../../../../../css/darkColors.less";
@import "../../../../../css/mixins.less";
.properties-components-container
{
  border-top: 1px solid @editor-dark-color;
  .properties-component-portlet {
    color: white;
  }
  .properties-component-portlet-header {
    padding: 0.2em 0.3em;
    border-bottom: 1px solid @editor-dark-color;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    .collapse-icon
    {
      width: 20px;
    }
  }
  .properties-component-portlet-content {
    padding: 0.4em;
    background-color:@editor-dark-color;
  }
  .portlet-placeholder {
    border: 6px dotted black;
    margin: 0.5em;
    height: 50px;
  }
}
