  .portlet {
    color: white;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    background-color:rgb(50,50,50);
    border-bottom: 1px solid red;
  }
  .portlet-content {
    padding: 0.4em;
    background-color:grey;
  }
  .portlet-placeholder {
    border: 6px dotted black;
    margin: 0.5em;
    height: 50px;
  }