@import "../../../../css/darkColors.less";

.editor-panel-container
{
	.editor-panel-container-header
	{
		height : 20px;
		width: 100%;
		background-color: @editor-dark-color;
		span {
			padding: 0px 8px;
		}
	}
	.editor-panel-container-content
	{
		height: calc(~"100% - 20px");
        width: 100%;
	}
}