@import "../../../css/darkColors.less";

.editor-navbar
{
	ul
	{
		margin: 0;
		padding: 6px;
		list-style: none;
		background-color: @editor-dark-color;
		li
		{
				display: inline;
				margin: 0px 20px;
				cursor: pointer;
			
			&:hover
			{
				background-color: @editor-navbar-item-hover;
			}
		}
	}
}